
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: RGB(231, 245, 255);
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}


#inner-container {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 5.8rem;
    color: #56a5eb;
    margin-bottom: 3rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}


.btn {
    font-size: 1.7rem;
    padding: 2rem 0;
    width: 15rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 2rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
    transition: transform 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0.4rem 1.4rem rgba(100, 152, 179, 0.5);
    cursor: pointer;
    transform: scale(1.1);
}

.btn[disabled]:hover {
    box-shadow: none;
    cursor: not-allowed;
}
